html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-menu{
  display: flex;
  width:40%;
  margin:10px auto;
  flex-direction: row;
  border-radius: 15px;
  border:1px solid white;
  list-style-type: none;
  cursor: pointer;
}

.nav-menu li{
  padding:10px;
  height:40px;
  font-size: 25px;
  color:red;
  background-color: blue;
}

.nav-menu li:hover{
  color:white
}

* {
  box-sizing: border-box;
}
